@media screen and (max-width: 480px) {
    #popper-wrapper{
        width: 960px;
        position:absolute;
        display: none;

    }

    .header_div {
        height: 65px;
        background-color: white;
        box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34, 25, 25, 0.4);
        -moz-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34, 25, 25, 0.4);
        -webkit-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34, 25, 25, 0.4);
        border-bottom: 1px solid #CCC;
        border-top: 0px solid #CCC;
        border-left: 0px solid #CCC;
        border-right: 0px solid #CCC;
        min-width: 1230px;
        width: 100%;
        position: relative;
        z-index: 9999;
        top: 0px;
    }

    #all_content_wrapper {
        margin-top: 0px;
    }

    #homepage {
        width: 960px;
        margin: 0px auto;
        height:1200px;
    }


}